<div class="skills">
    <br/>

    <span class="title">
        Conhecimentos
    </span>

    <br/>
    <div class="skill-list">
        <skills-holder 
            imageSrc="../../assets/icons/html.webp" 
            title="HTML, CSS e Javascript" 
            desc="São os três principais componentes presentes em uma página da web, conhecimento obrigatório para todo desenvolvedor web.">
        </skills-holder>
        <br/>
        <components-section-break style="width: 15%;" bgColor="#a9957b"></components-section-break>
        <br/>
        <skills-holder
            [right]="true"
            imageSrc="../../assets/icons/typescript.webp" 
            title="Typescript" 
            desc="Linguagem de programação que extende o Javascript através da tipagem estática, uso Typescript em projetos maiores, por conta das vantagens que proporciona no processo de debugging e de formar códigos com menos problemas.">
        </skills-holder>
        <br/>
        <components-section-break style="width: 15%;" bgColor="#a9957b"></components-section-break>
        <br/>
        <skills-holder 
            imageSrc="../../assets/icons/node.webp" 
            title="Node.js" 
            desc="Ambiente que permite a execução de Javascript fora da web, principal caminho de desenvolvimento que procuro na criação de serviços que exigem de um backend.">
        </skills-holder>
        <br/>
        <components-section-break style="width: 15%;" bgColor="#a9957b"></components-section-break>
        <br/>
        <skills-holder
            [right]="true"
            imageSrc="../../assets/icons/express.webp" 
            title="Express.js" 
            desc="Meu framework padrão para a criação de servers em Node.js, facilita o desenvolvimento fornecendo funções essenciais de forma prática e rápida.">
        </skills-holder>
        <br/>
        <components-section-break style="width: 15%;" bgColor="#a9957b"></components-section-break>
        <br/>
        <skills-holder 
            imageSrc="../../assets/icons/mongo.webp"
            title="MongoDB" 
            desc="Database NOSQL que armazena dados em um formato semelhante a JSON, por conta da praticidade de manipular dados e da eficiência presente no serviço, tende a ser meu sistema de banco de dados preferido.">
        </skills-holder>
        <br/>
        <components-section-break style="width: 15%;" bgColor="#a9957b"></components-section-break>
        <br/>
        <skills-holder
            [right]="true"
            imageSrc="https://cdn.icon-icons.com/icons2/2699/PNG/512/angular_logo_icon_169595.png"
            title="Angular" 
            desc="Principal framework que uso para o desenvolvimento de aplicações web, sou habituado a maior parte de suas funções, oferece inúmeros recursos que facilitam a criação de um site e tornam o desenvolvimento escalável e robusto.">
        </skills-holder>
        <br/>
    </div>
    <br/>
</div>