<projects-project 
    desc="Projeto de blog feito em Angular que imita o estilo do sistema operacional Windows 98"
    title="blog-win98"
    [tags]="['Angular', 'Typescript', 'HTML', 'CSS']"
    logo="../../../../assets/projects/win98.png"
></projects-project>
<components-section-break width="45%" bgColor="#7b6345"></components-section-break>
<br/>
<projects-project 
    desc="Jogo web feito em Typescript, usando de Websocket com o backend estruturado a partir do módulo de Express.js"
    title="web-space-game"
    [tags]="['Typescript', 'WebSockets', 'Node.js', 'Express.js', 'HTML', 'CSS', 'Javascript']"
    logo="../../../../assets/projects/ss13.png"

></projects-project>
<components-section-break width="45%" bgColor="#7b6345"></components-section-break>
<br/>
<projects-project 
    desc="Módulo que fornece métodos que facilitam a interação e comunicação com a API de usuários da Engine BYOND"
    title="byond-methods"
    [tags]="['Node.js', 'nodefetch', 'Javascript']"
    logo="../../../../assets/projects/npm.png"

></projects-project>

