/* You can add global styles to this file, and also import other style files */
@import url("./theme/fonts.scss");
@import url("./theme/scrollbar.scss");

html{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    overflow: hidden auto;

    width: 100%;
    height: 100%;
}

body{
    background: rgb(250, 250, 242);
    width: 100%;
    height: 100%;

    margin: 0;
}